{% extends 'base.html.twig' %}
{% block title %}Blog index{% endblock %}
{% block body %}
<ol>
    {% for id,post in posts %}
<li>
    <p><b>Title:</b>
        <a href="{{ path('blog_show',{'id':id}) }}">{{ post.title }}</a></p>
    <p><b>Id:</b>{{ id }}</p>
    <p><b>Text:</b>{{ post.text }}</p>
</li>
    {% endfor %}
</ol>
{% endblock %}
